body {background-color: #EAF2F8;}
.tituloprincipal {color: #1A5276;text-align: center;text-decoration: underline;font-size: 300%}
.subtitulo {color: #1A5276;text-decoration: underline;text-align: left;font-size: 200%}
.listadeingredientes {color: #1A5276;text-decoration: underline;}
.preparacion {color: #1A5276;text-decoration: underline;}
.historia {font-size: 150%}
